@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: aliceblue;
}
p{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

h4{
    font-size: 24px;
    word-spacing: 17px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h4 span{
    font-size: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

input[type ="radio"]{
    display: none;
}

.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    width: 900px;
    max-width: calc(100%-40px);
    display: flex;
    flex-direction: column;
    align-items: end;
}


.section-fluid{
    font-size: 23px;
    word-spacing: 20px;
    
}
.desc-btn + label{
    margin-left: 25px;
    transition: all 0.1s linear;
    cursor: pointer;
}
.desc-btn:checked + label,
.desc-btn:not(:checked) + label{
    font-size: 22px;
    font-weight: 600;
}

.desc-btn:not(:checked) + label{
    opacity: 0.5   ;
}

.desc-btn:not(:checked) + label:hover{
    opacity: 0.75;
}